/* Fondo general */
.gallery-wrapper {
    background: linear-gradient(to right, #0c0c14, #15151e);
    padding: 100px 40px;
    font-family: 'Titillium Web', sans-serif;
}

/* Título */
.gallery-title {
    text-align: center;
    margin-bottom: 60px;
}

.gallery-title h1 {
    font-size: 48px;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
}

.red-text {
    color: var(--f1-red);
    font-weight: 900;
}

/* Grid */
.f1-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: 220px;
    gap: 20px;
    max-width: 1300px;
    margin: 0 auto;
    grid-auto-flow: dense;
}

/* Tarjetas */
.photo-card {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    background: #1f1f27;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.photo-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 35px rgba(225, 6, 0, 0.4);
}

/* Variaciones tamaño */
.photo-card.tall {
    grid-row: span 2;
}

.photo-card.wide {
    grid-column: span 2;
}

/* Imagen */
.photo-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

/* Zoom */
.photo-card:hover img {
    transform: scale(1.1);
}

/* Texto inferior */
.info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.photo-card:hover .info {
    opacity: 1;
}

/*  galería */
@media (max-width: 768px) {
    .photo-card.wide {
        grid-column: auto;
    }

    .f1-gallery {
        grid-template-columns: 1fr;
    }

    .gallery-title h1 {
        font-size: 32px;
    }
}
.main-footer {
    background-color: #111;      /* Fondo oscuro */
    color: white;                /* Texto blanco */
    padding: 40px 20px;
    text-align: center;
    font-family: sans-serif;
}
.footer-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.footer-column h4 {
    margin-bottom: 10px;
}
.footer-bottom {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #aaa;
}
